@import "../../../colors.scss";

.sidebar-container {
    border: 1px solid $border-color;
    background-color: $white;
    padding: 20px 20px 0;
    max-width: 250px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.service-title {
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 20px;
}

.service-item {
    color: grey;
}

.service-items {
    display: flex;
    gap: 5px;
}

.sidebar-services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}